@import url('https://fonts.googleapis.com/css?family=Baloo+Bhaina');

/* Style global de la page avec image de fond */
body {
    background-color: #BCCCE5;
    font-family: 'Baloo Bhaina';
    line-height: 33px;
    color: #233656;
    background-image: url("../img/IndexBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* Cadre pour les balise div */
.bloc {
    border: solid #7B9BA6 5px;
    border-radius: 10px;
    background-color: #EEF4F2;
    box-shadow: 0px 0px 30px 5px #CDD6D5;
    margin-top: 8%;
}

/* Style pour les entêtes de rubriques */
.enteteRubrique {
    background-color: #415B76;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Bouton bleu avec texte en blanc */
.bouton {
    background-color: #415B76;
    color: white;
    width: 200px;
    height: 40px;
    padding-top: 10px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Customisation des inputText */
.inputText:hover, .inputText:focus {
    border: 1px solid #415B76;
}

/* Mise en forme du tableau de planning */
.planning {
    text-align: center;
}

/* Menu de recherche pour le planning */
.menuPlanning {
    padding: 10px 0px 10px 12px;
}

/* Sous partie du menu de planning */
.sousMenuPlanning {
    border: solid #7B9BA6 2px;
    border-radius: 5px;
    background-color: #EEF4F2;
    margin-top: 22px;
    padding-top: 20px;
}

/* Affiche la liste des élèves */
.listeEleves {
    overflow: auto;
    height: 165px;
    padding: 0px;
}

/* Rend invisible les barres de scroll */
::-webkit-scrollbar {
    width: 0px;
}

/* Style des éléments de la liste d'élèves */
div[class *="listeEleves"] div {
    border-radius: 5px;
    background-color: #CDD6D5;
    margin: 2px;
    width: 270px
}

/* Centre les radios de la liste des élèves */
div[class *="listeEleves"] div input {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    border-radius: 7px;
    border: solid 5px black;
}

/* Alterne les couleurs des élèves */
div[class *="listeEleves"] div:nth-child(even) {
    background: #7B9BA6;
}

/* Cellule du tableau d'affichage du planning */
table[class *="planning"] td {
    height: 40px;
    width: 140px;
}

/* Ajout de la bordure sous la dernière ligne du tableau */
.derniereLigneTableau {
    border-bottom: 1px solid #ddd
}

/******************************************************************************/
/* Cadre de formulaire */
.cadreFormulaire {
    border: solid #7B9BA6 2px;
    border-radius: 5px;
    background-color: #EEF4F2;
    margin-top: 22px;
    min-height: 285px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}