@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

/* Utilisation de la police choisie pour tous les textes */
* {
	font-family: 'Source Sans Pro';
}

/* Style global de la page avec image de fond */
body {
	background-color: #BCCCE5;
	line-height: 33px;
	color: #233656;
    background-image: url("../img/IndexBackground.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* Cadre pour les balise div */
.bloc {
    border: solid #7B9BA6 5px;
    border-radius: 10px;
    background-color: #EEF4F2;
    box-shadow: 0px 0px 30px 5px #CDD6D5;
    margin-top: 8%;
	margin-left: 20%;
	width: 60%;
}

/* Style pour les entêtes de rubriques */
.enteteRubrique {
    background-color: #415B76;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

/* Bouton bleu avec texte en blanc */
.bouton {
    background-color: #415B76;
    color: white;
    width: 200px;
    height: 40px;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Bouton du menu bleu avec texte en blanc */
.boutonMenu {
    background-color: #415B76;
    color: white;
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;
}

/* Customisation des inputText */
.inputText:hover, .inputText:focus {
    border: 1px solid #415B76;
}

/* Customisation des select */
.liste {
	border: 1px solid #CDD6D5;
	border-radius: 5px;
	width: 200px;
	height: 33px;
}

/* Sous partie du menu de planning */
.menuPlanning {
    border: solid #7B9BA6 2px;
    border-radius: 5px;
    background-color: #EEF4F2;
	margin: 10px -5px 10px -5px;
	padding: 15px 10px 15px 10px;
}

/* Affiche la liste des élèves */
.listeEleves {
	overflow: auto;
	height: 200px;
	margin: 35px 20% 35px 20%;
	border: solid #7B9BA6 2px;
    border-radius: 5px;
}

/* Rend invisible les barres de scroll */
::-webkit-scrollbar {
    width: 0px;
}

/* Style des éléments de la liste d'élèves */
div[class *="listeEleves"] div {
    border-radius: 5px;
    background-color: #CDD6D5;
	margin: 2px;
	height: 40px;
}

/* Centre les radios de la liste des élèves */
div[class *="listeEleves"] div input {
    float: right;
    margin-top: 10px;
    margin-right: 50px;
    border-radius: 7px;
    border: solid 5px black;
}

/* Alterne les couleurs des élèves */
div[class *="listeEleves"] div:nth-child(even) {
    background: #7B9BA6;
}

/* Cadre pour les balise div */
.popup {
    border: solid #7B9BA6 3px;
    border-radius: 10px;
    background-color: #EEF4F2;
    box-shadow: 0px 0px 30px 5px #CDD6D5;
}

/******************************************************************************/
/* Cadre de formulaire */
.cadreFormulaire {
    border: solid #7B9BA6 2px;
    border-radius: 5px;
    background-color: #EEF4F2;
    margin-top: 22px;
    min-height: 435px;
}

/* Cadre de formulaire */
.cadreFormulaireRow2 {
    border: solid #7B9BA6 2px;
    border-radius: 5px;
    background-color: #EEF4F2;
    min-height: 435px;
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

/* Cadre pour les balise div */
.blocScroll {
    border: solid #7B9BA6 5px;
    border-radius: 10px;
    background-color: #EEF4F2;
    box-shadow: 0px 0px 30px 5px #CDD6D5;
    margin-top: 8%;
    overflow: scroll;
    height: 70%;
}
/******************************************************************************/

/* Media queries */
@media screen and (max-width: 1500px) and (min-width: 200px){

	.bouton, .liste {
		width: 150px;
	}

}

/******************************************************************************/
/* Cadre */
.cadre {
	overflow: auto;
    border: solid #7B9BA6 2px;
    border-radius: 5px;
    background-color: #EEF4F2;
    margin-top: 22px;
}

#zoneAffichListe{
    padding: 0 0 0 0;
}

.menu {
    background-color: #415B76!important;
}
